/*====================================================================WORK*/

.work {
    margin: 4rem;
    padding-top: 5rem;
}

.work__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 4rem;
}


/**====================================================================Values*/

.values {
    margin: 4rem;
    padding-top: 4rem;
}

.values__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.values__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.values__image {

    /*filter: saturate(0.25);*/
    transition: var(--transition);
}


.values__title {
    margin: 1.5rem 0 5rem;
}

.values__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.card.values__value {
    color: var(--color-gray);
    background: var(--color-antracite);
    box-shadow: 0px 0px 10px 3px var(--color-red);
    padding-top: 3.5rem;
    text-align: right;
    position: relative;
}

.values__value h4 {
    color: var(--color-gray);
    transition: var(--transition);
    text-align: right;
}

/*==================================================REVIEWS*/

.reviews {
    margin: 4rem;
    padding-top: 4rem;
}

.card.review {
    background: var(--color-antracite);
    color: var(--color-gray);
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: justify;
    transition: var(--transition);
}

.review small {
    border-bottom: 2px solid var(--color-antracite);
    transition: var(--transition);
}

.card.review h3 {
    transition: var(--transition);
    color: var(--color-gray);
}


.card.review:hover small {
    padding-bottom: 1rem;
    color: var(--color-white);
    border-bottom: 2px solid var(--color-gray);
    transition: var(--transition);
}

.card__left {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card__left h3 {
    text-transform: uppercase;
}

.card__left h3, .card__left small {
    text-align: right;
}

.card__left small {
    color: var(--color-white);
}

.review__quote {
    color: var(--color-gray);
    font-style: italic;
    font-size: larger;
    margin: 1rem 0 2rem;
}

.card small.review__title {
    margin-top: 0.3rem;
}

.review__btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.reviews__btn {
    background: transparent;
    cursor: pointer;
}

.reviews__btn svg {
    fill: var(--color-red);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 1024px) {

    .work__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .values__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 2rem;
    }

    .values__image {
        display: grid;
        justify-items: center;
        width: 70%;
    }

    .card.review {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card.review p {
        font-size: inherit;
    }

    .card.review h3, .card.review small {
        text-align: center;
    }

}

@media screen and (max-width: 600px) {
    .work__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .values__wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .values__image {
        width: 100%;
    }
}

