/*================================================================HomeHeader*/

.header__container {
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.header__image-wrapper {
    position: relative;
    display: grid;
    place-items: center;
}

.header__container-bg {
    transition: var(--transition);
    position: absolute;
    display: grid;
    place-items: center;
    width: 130vw;
}

.header__container-bg img {
    opacity: 0.5;
}

.header__card-wrapper{
    margin-top: -14rem;
    margin-left: 12rem;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    position: relative;
}

.header__card{
    background: var(--color-red);
    transition: var(--transition);
}

.header__card:hover{
    cursor: pointer;
    transition: var(--transition);
}
/*=================================HomeInfo*/
.home__info{
    margin: 4rem;
}
.home__info-container {
    display: grid;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.home__info-content h2 {
    margin-bottom: 1rem;
    color: var(--color-red);
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
}

.home__info-content p {
    margin: 1rem 0% 3.5rem;
    font-size: 1.1rem;
    text-align: justify;
}

.home__info-visuals {
    display: grid;
    position: relative;
}

.home__header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--transition);
}

/*================================SERVICES*/
.home__services {
    display: grid;
    place-items: center;
    margin: 4rem;
}

.home__services-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 4rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-items: center;

}
.home__services-wrapper img{
    border-radius:0.5rem ;
}
.home__services-card{
    transition: var(--transition);
}

.home__services-card:hover{
    transform: scale(1.5);
    transition: var(--transition);
}

@media screen and (max-width: 1024px){

    .header__card-wrapper{
        margin-top: -20rem;
        margin-left: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}
@media screen and (max-width: 600px){

    .header__container-bg{
        transition: var(--transition);
        position: absolute;
        display: grid;
        place-items: center;
        width: 250vw;
    }
    .header__card-wrapper{
        margin-top: -22rem;
        margin-left: 2rem;
        padding-top: 3rem;
        /*width: 140vh;*/
    }

    .home__services-container{
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    .home__services-wrapper{
        grid-template-columns: 1fr;
        width: 60vw;
        gap: 4rem;
    }

}

