@import url('https://fonts.cdnfonts.com/css/gosha-sans');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-hue: 210;
    --color-antracite: #111111;
    --color-red: #f80000;
    --color-white: #ffffff;
    --color-gray: #b8b8b8b8;
    --transition: all 500ms ease;

    --container-width-lg: 80%;
    --container-width-mg: 90%;
}


body {
    font-family: 'Gosha Sans Regular',sans-serif;
    color: var(--color-gray);
    line-height: 1.7;
    overflow-x: hidden;
    background: var(--color-antracite);
}

.container {
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
    color: var(--color-gray);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: var(--color-gray);
}

img {
    display: block;
    object-fit: cover;
    width: 80%;
}

.btn {
    color: var(--color-antracite);
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background: var(--color-white);
    border-radius: 0.5rem;
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-red);
    color: var(--color-white);
}
.btn.lg{
    padding:1.2rem 3rem;
    border-radius: 1rem;
    font-size: 1.1rem;
}

.btn.sm{
    padding:0.4rem 1.2rem;
    font-size: 0.9rem;
}

.btn.sm:hover{
    background: var(--color-red);
}
section{
    margin: 10rem;
}