/*====================================================================OUR WORK*/

.work {
    margin-top: 4rem;
    padding-top: 4rem;
    /*margin: 3rem;*/
}

.work__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 4rem;
    word-wrap: break-word;
    /*word-break: break-word;*/
    overflow-wrap: break-word;
    justify-content: center;
}


.our__work a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our__work:hover a {
    background: transparent;
    color: var(--color-white);
    transition: var(--transition);
}

/**====================================================================Values*/

.values__container {
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}
.values__left{
    display: flex;
    align-items: center;
}
.values__image {

    /*filter: saturate(0.25);*/
    transition: var(--transition);
}

.values__image:hover {
    filter: saturate(1);
}

.values__title {
    margin: 1.5rem 0 5rem;
}

.values__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
}

.card.values__value {
    color:var(--color-gray);
    background:var(--color-antracite);
    box-shadow:  0px 0px 10px 3px var(--color-red);
    padding-top: 3.5rem;
    text-align: right;
    position: relative;
}
.values__value h4{
    color: var(--color-gray);
    transition: var(--transition);
    text-align: right;
    }

/*==================================================REVIEWS*/

.reviews {
    /*width: 50rem;*/
    margin-inline: auto;
}

.reviews__head {
    justify-content: center;
}

.card.review {
    background: var(--color-antracite);
    color: var(--color-gray);
    gap: 1.5rem;
    /*box-shadow:  0px 0px 15px 3px var(--color-red);*/
    display: grid;
    grid-template-columns: 20% 60%;
    position: relative;
    text-align: justify;
    margin-top: 5rem;
    transition: var(--transition);
    justify-content: center;
}

.review small{
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-antracite);
    transition: var(--transition);
}

.card.review h3{
    transition: var(--transition);
    color: var(--color-gray);
}
/*.card.review:hover h3{*/
/*    transition: var(--transition);*/
/*    color: var(--color-white);*/
/*}*/

.card.review:hover small{
    padding-bottom: 1rem;
    color: var(--color-white);
    border-bottom: 2px solid var(--color-gray);
    transition: var(--transition);
}
.card__left {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.card__left h3{
    /*color: var(--color-red);*/
    text-transform: uppercase;
}
.card__left h3, .card__left small{
    text-align: right;
}
.card__left small{
    color:var(--color-white);
}
.review__quote {
    color: var(--color-gray);
    font-style: italic;
    font-size: larger;
    margin: 1rem 0 2rem;
}

.card small.review__title {
    margin-top: 0.3rem;
}

.review__btn-container {
    width: fit-content;
    margin: 2.5rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.reviews__btn {
    background: transparent;
    cursor: pointer;
}

.reviews__btn svg {
    fill: var(--color-red);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 1024px){

    .work__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 4rem;
        word-wrap: break-word;
        /*word-break: break-word;*/
        overflow-wrap: break-word;
        justify-content: center;
    }
    .values__container {
        display: grid;
        grid-template-columns: 38% 50%;
        gap: 12%;
    }

    .card.review{
        width: 70vw;
        display: grid;
        align-items: center;
        justify-content: center;
    }

}
@media screen and (max-width: 600px){



}

