footer{
    background:var(--color-antracite) ;
    margin-top: 7rem;
    padding-top: 7rem;
    font-size: 0.9rem;
    color: var(--color-gray);
}

.footer__container{
    display: grid;
    grid-template-columns: 26rem 1fr 1fr 1fr;
    gap: 6rem;
}

.footer__container article{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}
.footer__container article p{
    margin-top: 0.5rem;
}

.footer__container article h4{
    margin-bottom: 0.6rem;
    font-size: 1rem;
}
.footer__logo {
    width: 12rem;
    display: block;
    justify-content: center;
}
.footer__socials{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer__socials a{
    background: var(--color-red);
    padding:0.7rem;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    transition: var(--transition);
}
.footer__socials a svg{
    color: var(--color-white);
}
.footer__socials a:hover{
    border-color: var(--color-red);
    background: transparent;
}

.footer__copyright{
    color: var(--color-gray);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-gray);
    margin-top: 5rem;
}