.gallery__container{
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    gap: 6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.gallery__header{
    padding-top: 5rem;
    margin-top:5rem;
}

.gallery__content{
    display: grid;
    grid-template-columns: 10% 50% 10%;
    justify-content: center;
    justify-items: center;
}
.gallery__btn {
    background: transparent;
    cursor: pointer;
}

.gallery__btn svg {
    fill: var(--color-red);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}
