.services {
    margin-top: -4rem;
    padding-top: 4rem;
}

.gallery__container {
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    gap: 6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.gallery__header {
    padding-top: 5rem;
    margin-top: 5rem;
}

.work__process{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*width: 80rem;*/
}
.slideshow__images {
    display: grid;
    /*grid-template-columns: 10% 50% 10%;*/
    justify-content: center;
    justify-items: center;
    transition: var(--transition);
}

.gallery__btn {
    padding: 2rem;
    background: transparent;
    cursor: pointer;
}

.gallery__btn svg {
    fill: var(--color-gray);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}

/*/////////////////////////////////////////////////////////////////////////////*/

.slideshow__content {
    display: grid;
    grid-template-columns: 50% 80%;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.slideshow__content-left h2 {
    color: var(--color-red);
    padding-bottom: 3rem;
}

.before__after-content {
    display: grid;
    grid-template-columns: 80% 50%;
    gap: 5rem;
    align-items: start;
    justify-content: end;
    justify-items: end;

}

.before__after-left {
    width: 50%;
    height: 50%;
}

.before__after-right {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.before__after-right h2 {
    color: var(--color-red);
    padding-bottom: 3rem;
}

/*.demolition__images{*/
/*    display: grid;*/
/*    !*grid-template-columns: 10% 50% 10%;*!*/
/*    justify-content: center;*/
/*    justify-items: center;*/
/*    transition: var(--transition);*/
/*}*/

.demolition__service{
    gap: 3rem;
}
.demolition__images > .gallery__image-card{
    width: 70%;
}

@media screen and (max-width: 1024px){

    .slideshow__content {
        display: grid;
        grid-template-columns: 1fr;
        /*gap: 5rem;*/
        /*justify-content: center;*/
        /*align-items: center;*/
    }
    .before__after-content {
        display: grid;
        grid-template-columns:1fr;
        align-items: start;
        justify-items: center;
        /*gap: 12%;*/
    }
    .work__process{
        display: grid;
        grid-template-columns:1fr;
    }
    /*.slideshow__content {*/
    /*    display: grid;*/
    /*    grid-template-columns: 1fr;*/
    /*    !*gap: 5rem;*!*/
    /*    !*justify-content: center;*!*/
    /*    !*align-items: center;*!*/
    /*}*/
    /*.before__after-content {*/
    /*    display: grid;*/
    /*    grid-template-columns:1fr;*/
    /*    align-items: start;*/
    /*    justify-items: center;*/
    /*    !*gap: 12%;*!*/
    /*}*/
}
@media screen and (max-width: 600px){



}