/*=================================HomeHeader*/
.home__header {
    width: 100vw;
    height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;


    /*margin-inline: auto;*/

}

.home__header-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.home__header-top {
    margin-top: 5rem;
    padding: 2.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.home__header-top h2{
    font-size:3.5rem ;
    color: var(--color-red);
}
.home__header-top p{

}

.top__header-image {
    width: 52rem;
    height: 22rem;
    padding-left: 2rem;
    margin-left: 2rem;
    /*display: grid;*/
    /*place-items: center;*/
    /*position: relative;*/
    transition: var(--transition);
}

.home__header-bottom {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    margin-inline:auto;
}

.home__header-left {
    /*margin-top: -3rem;*/
}

.home__header-left h2 {
    margin-bottom: 1rem;
    color: var(--color-red);
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
}

.home__header-left p {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
    text-align: justify;
}

.home__header-right {
    display: grid;
    place-items: center;
    position: relative;
}

.home__header-logo {
    width: 45rem;
    height: 30rem;
    position: absolute;
    transition: var(--transition);
}

.home__header-image {
    position: relative;
}

.home__header-right:hover .home__header-logo {
    filter: blur(5px);
}
.home__header-btn{
    text-align: center;
    /*background: var(--color-red);*/
    place-items: center;
    /*margin-inline: auto;*/
    transition: var(--transition);
    margin: 0 auto;
    padding: 0.9rem 2rem;
    border-radius:0.5rem;
    color: var(--color-red);


}
.add-space{
    padding: 25rem;
    margin: 25rem;
    gap: 2rem;
}
/**====================================================================FAQs*/
.faqs__wrapper {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    align-items: flex-start;
}

.question {
    background-color: var(--color-red);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    color: var(--color-antracite);
}

.question div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question__icon {
    background: transparent;
    color: var(--color-antracite);
    font-size: 1.5rem;
}

.question h4 {
    color: var(--color-antracite);
}

.question p {
    margin-top: 1.5rem;
}

