.home__header{
    width: 100vw;
    height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.home__header-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.home__header-left{
    margin-top: -3rem;
}

.home__header-left h4{
    margin-bottom: 1rem;
    color: var(--color-red);
    font-weight: 400;
}

.home__header-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.home__header-right{
    display: grid;
    place-items: center;
    position: relative;
}

.home__header-logo{
    width: 25rem;
    height: 25rem;
    position: absolute;
    transition: var(--transition);
}

.home__header-image{
    position:relative;
}
.home__header-right:hover .home__header-logo{
    filter: blur(5px);
}

/*OUR WORK*/

.work{
    margin-top: 4rem;
}
.work__wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    margin-top: 4rem;
}

.our__work a{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our__work:hover a{
    background-color:var(--color-red);
    color: var(--color-antracite);
}