.service_info__wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin-top: 10rem;
}


/*Service Card*/
.service_info__right {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.service_info-card {
    background-color: var(--color-gray);
    opacity: 0.9;
    padding: 7rem 2rem;

}

.service_info-card:hover {
    background-color: var(--color-gray);
    padding: 7rem 2rem;
}

.service_info-card h3 {
    color: var(--color-antracite);
    text-transform: uppercase;
    /*font-weight: bolder;*/
    font-size: larger;
}

.service_info-card p {
    color: var(--color-antracite);
    padding-bottom: 2rem;
}

.quick-info {
    border-bottom: 2px solid var(--color-antracite);
    /*padding-bottom: 3rem;*/
}

.get-back-info {
    padding-top: 2rem;
}
.form__header{
padding-bottom: 2rem;
}
.form__content {
    display: grid;
    grid-template-columns: 1fr;
    width: 25rem;
    gap: 1rem;
}

.form__content input {
    height: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}

.form__content textarea {
    border-radius: 1rem;
    padding: 2rem;
}

.form__services {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form__services label {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.form__content input, .form__content textarea{
    background-color: var(--color-gray);
    color: var(--color-antracite);
    font-family: 'Gosha Sans', sans-serif;
}

.form__content input::placeholder, .form__content textarea::placeholder{
    color: var(--color-antracite);
    font-family: 'Gosha Sans', sans-serif;
}
.user_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}